.App {
    background: radial-gradient(grey, #333);
    width: 100vw;
    height: 61vh;
    padding: 10rem 0;
    display:flex;
    align-items: flex-start;
    justify-content: center;

    .App-header {
        background-color: #a8a8a8;
        padding: 5rem;
        border-radius: 0.5rem;
    }
}