.App {
    background: radial-gradient(grey, #333);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .App-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}